<ion-view>
  <ion-nav-bar class="bar bar-positive">
    <ion-nav-back-button>Voltar</ion-nav-back-button> <!-- botao voltar na barra superior -->
    <ion-nav-title>
      <h1 class="title">Faça seu cadastro já!</h1> <!-- titulo barra superior -->
    </ion-nav-title>
  </ion-nav-bar>
  <ion-content>
    <div class="list list-inset">
      <h4>Nome</h4>
      <label class="item item-input">
        <input type="text" placeholder="Nome">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Sobrenome">
      </label>
    </div>
    <div class="list list-inset">
      <h4>Data de Nascimento</h4>
      <label class="item item-input">
        <input type="date">
      </label>
    </div>
    <div class="list list-inset">
      <h4>Sexo</h4>
      <ion-radio ng-model="cad.sexo" ng-value="'M'">Masculino</ion-radio>
      <ion-radio ng-model="cad.sexo" ng-value="'B'">Feminino</ion-radio>
    </div>
    <div class="list list-inset">
      <h4>E-mail</h4>
      <label class="item item-input">
        <input type="email" placeholder="Email">
      </label>
    </div>
    <div class="list list-inset">
      <h4>Senha</h4>
      <label class="item item-input">
        <input type="password" placeholder="Senha">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Confirmação de Senha">
      </label>
    </div>
    <div class="list list-inset">
      <button class="button button-full button-positive">Cadastrar</button>
    </div>
  </ion-content>
</ion-view>
