<ion-view>
      <ion-nav-bar class="bar bar-positive">
    <ion-nav-back-button>Voltar</ion-nav-back-button> <!-- botao voltar na barra superior -->
    <ion-nav-title>
      <h1 class="title">Cadastre já o seu Jogador !</h1> <!-- titulo barra superior -->
    </ion-nav-title>
  </ion-nav-bar>
      <ion-content>
       
        <div class="list list-inset">
          <h4> Nome </h4>
          <label class="item item-input">
            <input type="text" placeholder="Nome">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Sobrenome">
          </label>
        </div>

        <div class="list list-inset">
          <h4> Nº Camisa </h4>
          <label class="item item-input">
            <input type="number">
          </label>
        </div>

        <div class="list list-inset">
          <h4>Time</h4>
          <label class="item item-input">
            <input type="text" placeholder="Nome">
          </label>
        </div>



        <div class="Criar">
          <a href="menu.html">
          <button class="button button-full button-positive">
          Cadastrar Jogador
          </button>
        </div>

      </ion-content>
<ion-view>




