<ion-view>
      <ion-nav-title>
        <h1 class="title"> Cadastre já o seu time! </h1> <!-- titulo barra superior -->
        </ion-nav-title>
  </ion-nav-bar>
      <ion-content>
        <div class="list list-inset">
          <h4> Nome </h4>
          <label class="item item-input">
            <input type="text" placeholder="Nome do time">
          </label>
        </div>

        <div class="list list-inset">
          <h4> Casa </h4>
          <label class="item item-input">
            <input type="text" placeholder="Casa">
          </label>
        </div>

        <div class="list list-inset">
          <h4> Principal Rival </h4>
          <label class="item item-input">
            <input type="text" placeholder="Nome do Rival">
          </label>
        </div>

        <div class="CriarTime">
          <button class="button button-block button-positive">
          Cadastrar Time
          </button>
        </div>
      </ion-content>
</ion-view>