<ion-view>
    <ion-pane>
      <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Control One</h1>
        <button class="button icon-right ion-chevron-right"> Saiba Mais </button>
      </ion-header-bar>
      <div class="container-fluid">
        <ion-content>
        <div class="logo" >  
        <img src="img/logo1.png">
        
        <h3>  Sorteio para Campeonatos</h3>
        
         </div>
         <div class="Cadastro">
          <a href="#/cadastro">
            <button class= "button button-outline button-positive"> 
              Faça seu Cadastro!
            </button> 
          </a> 
         </div>
        
        <div class="Login">
        <a href="#/login">
          <button class="button button-positive">
          Faça seu Login
          </button></a>
        </div>
        </ion-content>
        </div>ss
    </ion-pane>
</ion-view>