<ion-view>
    <ion-pane> 
      <div class="container-fluid">
        <ion-content>
        <div class="logo2" >  
        <img src="img/logo1.png">
        
        <div class="Login2">
          <h3>Login</h3>
        </div>
         <div class="listPers">
      
          
          <label class="item item-input">
            <i class = "icon ioniosemailoutline placeholdericon"></i>
            <input type="text" placeholder="E-mail">
          </label>
          <label class="item item-input">
            <i class = "icon ionioslockedoutline placeholdericon"></i>
            <input type="text" placeholder="Senha">
          </label>
          
        </div>
        
        <div class="Play">
          <a href="#/menu/home">
          <button class="button button-positive">
          Play
          </button>
        </div>
       
        </ion-content>
        </div>
    </ion-pane>
</ion-view>







